@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Custom font class */
.lora {
  font-family: "Lora", serif;
}

/* Example background gradient */
.button {
  background-color: #BA927D;
  padding: 0.5rem 1rem; /* py-2 px-4 */
  cursor: pointer;
  border-radius: 10px;
}



/* Example text style */
.text {
  color: #FFFFFF;
  font-size: 20px;
  
}
.text1 {
  color: #FEF5DB;
  font-size: 50px;
  font-weight: bold;
}
.text2 {
  color: #BA927D;
  font-size: 40px;
  font-weight: bold;
}

